aspmc/external/c2d/*
aspmc/external/miniC2D/*
aspmc/external/UWrMaxSAT/COMini*
aspmc/external/UWrMaxSAT/comini*
aspmc/external/UWrMaxSAT/maxpre*
out.cnf
out_preprocessed.cnf
out.lp
out.cnf.nnf
out.vtree
out.dtree
output.png
output.pstats
*__pycache__*
*.swp
.vscode/*
dist/*
aspmc.egg-info/*
build/*
